body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#cecece;
    color: #443f3f;
}
#heading{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    line-height: 100px;
}
a{
    text-decoration: none;
    color: #443f3f;
    text-align: center;
}
p{
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 10px;
    border-bottom: 6px dashed #000000;
}
img{
    width: 500px;
    height: 100%;
    display: block;
    margin: auto;
    margin-bottom:30px ;
    border: solid black;
    border-radius: 30px;
}

h3{
    color: #443f3f;
    text-align: center;
    font-size: x-large;
}